@model IEnumerable<eBookStore.Models.PurchasedBookViewModel>

@{
    ViewData["Title"] = "Purchased Books";
    Layout = "_Layout";
}

<h1>Purchased Books</h1>

<div class="container">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Title</th>
                <th>Author</th>
                <th>Quantity</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Book.Title</td>
                    <td>@item.Book.Author</td>
                    <td>@item.TotalQuantity</td>
                    <td>
                        <a asp-controller="Book" asp-action="Comment" asp-route-id="@item.Book.Id" class="btn btn-sm btn-primary">Comment</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
